<!DOCTYPE html>
<html data-ng-app="trucksApp">
<head>
<title>Apps Home</title>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0" >
<!-- CSS styles for standard search box -->
	<link rel= "stylesheet" type="text/css" href="../SiteAssets/css/homestyle.css">
	<script type="text/javascript" src="../SiteAssets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../SiteAssets/js/angular.min.js"></script>
	<script type="text/javascript" src="../SiteAssets/js/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="../SiteAssets/js/home.js" ></script>

</head>
<body data-ng-controller="employeeInfoController">
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
	<div class = "truckSearch">
		<div class="form-group" id="tfnewsearch" ng-hide="!searchByTruck" data-ng-controller="menuController">
		<span id="goHome" ng-click="refreshEmployeeInfo()" class="glyphicon glyphicon-home"></span>
				<input autofocus type="text" id="Tnumb" class="truckNum form-control" placeholder="Search for app..." name="q" size="21">
				<span id="search" ng-click="clearX()" class="glyphicon glyphicon-search"></span>
				<br/>
				<div class="container-fluid">
				<!--<input type="button" value="search" ng-click="refreshEmployeeInfo()" class="tfbutton">-->
				<button type="button" class="btn btn-primary btn-block btn-lg dropdown-toggle" data-toggle="dropdown">Accounting and Credit Apps<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-repeat="item in accountingMenuItems"><a ng-href={{item.appLinks.Url}}>{{item.Title}}</a></li>
				</ul>
				</div>
				<div class="container-fluid">
				<!--<input type="button" value="search" ng-click="refreshEmployeeInfo()" class="tfbutton">-->
				<button type="button" class="btn btn-primary btn-block btn-lg dropdown-toggle" data-toggle="dropdown">Employee Apps<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-repeat="item in employeeMenuItems"><a ng-href={{item.appLinks.Url}}>{{item.Title}}</a></li>
				</ul>
				</div>
				<div class="container-fluid">
				<!--<input type="button" value="search" ng-click="refreshEmployeeInfo()" class="tfbutton">-->
				<button type="button" class="btn btn-primary btn-block btn-lg dropdown-toggle" data-toggle="dropdown">Equipment Apps<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<!--<li><a href="https://clydelink.sharepoint.com/apps/Pages/TruckSearch.aspx">Vehicle Search</a></li>-->
					<li ng-repeat="item in equipmentMenuItems"><a ng-href={{item.appLinks.Url}}>{{item.Title}}</a></li>
				</ul>
				</div>				
				<div class="container-fluid">
				<!--<input type="button" value="search" ng-click="refreshEmployeeInfo()" class="tfbutton">-->
				<button type="button" class="btn btn-primary btn-block btn-lg dropdown-toggle" data-toggle="dropdown">Human Resources Apps<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-repeat="item in hrMenuItems"><a ng-href={{item.appLinks.Url}}>{{item.Title}}</a></li>
				</ul>
				</div>
		</div>
	</div>
	</div>
</body>
</html>
